@model Fazzer.ViewModels.CategoryIndexViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Categories</h2>
<p>
    @Html.ActionLink("Create New", "CategoryCreate")
</p>
<table class="table">
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>@item.Name</td>

            <td>
                @Html.ActionLink("Edit", "CategoryEdit", new { id = item.CategoryId }) |
                @Html.ActionLink("View", "CategoryView", new { id = item.CategoryId })
            </td>
        </tr>
    }
</table>
